.tooltip {
  background-color: #626D71;
  position: absolute;
  visibility: hidden;
  color: black;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  font-family: monospace;
  width: 180px;
}
