body {
    font-family: 'Arvo', serif;
    text-align: center;
}

.tooltip {
    background-color: #626D71;
    position: absolute;
    visibility: hidden;
    color: white;
    padding: 2px;
    border-radius: 2px;
    font-family: monospace;
    width: 190px;
}

svg {
    display: block;
    margin: auto;
}

h1 {
    font-size: 34px;
}

p.title {}

footer {
    text-align: left;
}